.container {
    display: flex;
    align-items: center;
    justify-self: center;

}
.container div {
    background-color: blue;
    width: 400px;
    height: 400px;
    pointer-events: none;
}
.container:hover div {
    background-color: lightblue;
    pointer-events: none;

}